{% extends "admin/base.html" %}
{% load i18n %}
{% block nav-global %}{% endblock %}
{% block app %}
  <section class="section">
    <div class="container has-text-centered">
      <h1 class="title">{% trans "Logged out" %}</h1>
      <p class="block">Thanks for spending some quality time with the web site today.</p>
      <div class="buttons is-centered">
        <a href="/admin/" class="button is-primary">Log in again</a>
        {% if site_url %}
          <!-- <a href="/" class="button">{% trans "Go Home" %}</a> -->
        {% endif %}
      </div>
    </div>
  </section>
{% endblock %}
