{% load juss_menus %}
<style>
 .navbar-burger {
   margin-left: 0 !important;
 }
 @media screen and (max-width: 1023px) {
   .navbar-menu {
     display: block !important;
     padding: 0 !important;
   }
   .navbar-end {
     display: none;
   }
 }
 @media screen and (min-width: 1024px) {
   .navbar-burger {
     display: block;
   }

 }
</style>
<nav class="navbar" style="position:sticky;top:0;box-shadow:0 3px 0 -2px rgb(10 10 10 / 10%);">

  {% comment %}
  <div class="navbar-brand">
  <a class="navbar-item subtitle" href="/admin/">
  {{request.site.setting.site_name|default:'Admin'}}
  </a>
  </div>
  {% endcomment %}
  <div id="navbarMenuHeroA" class="navbar-menu">
    <div class="navbar-start">
      {#% juss_menus request.path_info %#}
      <a class="navbar-burger is-active" role="button" aria-label="menu" aria-expanded="false">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    </div>
    <div class="navbar-end">
      {% if site_url %}
	<a class="navbar-item" href="/">前往首页</a>
      {% endif %}
      {% comment %}
      <a class="navbar-item {% if 'admin/inbox' in current %}is-active{% endif %}" href="/admin/inbox/">
      <span class="icon is-small">
      {% with count=user.get_unread_msg_count %}
      {% if count %}
      <i class="badge tag is-rounded is-danger">{{count}}</i>
      {% endif %}
      {% endwith %}
      <i data-feather="bell"></i>
      </span>
      </a>
      {% endcomment %}
      {% if user.is_active and user.is_staff %}
	{% url 'django-admindocs-docroot' as docsroot %}
	{% if docsroot %}
	  <a href="{{ docsroot }}" class="navbar-item">文档</a>
	{% endif %}
      {% endif %}

      <div class="navbar-item has-dropdown is-hoverable">
        <a class="navbar-link">
          {% if enable_avatar %}
            <figure class="image is-32x32 mr-1">
              {% if user.avatar %}
		<img class="is-rounded" src="{{user.avatar}}" style="max-height:initial;" />
              {% else %}
		<svg width="32" height="32" data-jdenticon-value="{{user.username}}"></svg>
              {% endif %}
            </figure>
            <span>{{user.username}}</span>
          {% else %}
            {{user.username}}
          {% endif %}
        </a>
        <div class="navbar-dropdown is-right">
          {% comment %}
          <a class="navbar-item" href="/admin/auth/user/profile/">我的信息</a>
          {% endcomment %}
          <a class="navbar-item" href="{% url 'admin:password_change' %}">修改密码</a>
          <hr class="navbar-divider" />
          <a class="navbar-item" href="/admin/logout/">退出登录</a>
        </div>
      </div>
    </div>
  </div>

</nav>
