{% extends "admin/base.html" %}
{% block content %}
  <form method="post" style="max-width:400px;">
    {% csrf_token %}
    {% for field in form %}
      <div class="field">
        {{field.errors}}
        <label class="label" for="id_{{field.name}}">{{field.label}}</label>
        <input type="password"
               class="input"
               name="{{field.name}}"
               id="id_{{field.name}}" required>
        <div class="content">{{field.help_text}}</div>
      </div>
    {% endfor %}
    <div class="field">
      <input type="submit" class="button is-primary" value="提 交">
    </div>
  </form>
{% endblock %}
