{% extends "admin/base.html" %}
{% block content %}
  <form method="post" style="max-width:400px;" enctype="multipart/form-data">
    {% csrf_token %}
    {% include "form_snippet.html" %}
    {% comment %}
    {% for field in form %}
      <div class="field">
        {{field.errors}}
        <label class="label" for="id_{{field.name}}">{{field.label}}</label>
        {{field}}
        <p class="help">{{field.help_text}}</p>
      </div>
    {% endfor %}
    {% endcomment %}
    <div class="field">
      <input type="submit" value="保 存" class="button is-primary">
    </div>
  </form>
{% endblock %}
