{% if widget.is_initial %}
  当前文件:
  <a href="{{widget.value.url}}" class="mb-2" style="display:inline-block;">
    {{widget.value}}
  </a>

  {% if not widget.required %}
    <label>
      <input type="checkbox" name="{{ widget.checkbox_name }}" id="{{ widget.checkbox_id }}"{% if widget.attrs.disabled %} disabled{% endif %}>
      删除
    </label>
  {% else %}
    <br>
  {% endif %}
  {{ widget.input_text }}:
{% endif %}
<input type="{{ widget.type }}" name="{{ widget.name }}"{% include "django/forms/widgets/attrs.html" %}>
